.text-color-BlueMarguerite {
  color: $color-BlueMarguerite;
}

.text-color-Tundora {
  color: $color-Tundora;
}

.text-color-Boulder {
  color: $color-Boulder;
}

.text-color-Portage {
  color: $color-Portage;
}

.text-color-DaisyBush {
  color: $color-DaisyBush
}

.text {
  &-bold {
    font-size: 54px;
    font-weight: 900;
  }

  &-default {
    font-size: 24px;
    font-weight: 700;
  }

  &-default2 {
    font-size: 20px;
    font-weight: 400;
  }

  &-default3 {
    font-size: 16px;
    font-weight: 700;
  }

  &-default4 {
    font-size: 20px;
    font-weight: 600;
  }

  &-default5 {
    font-size: 16px;
    font-weight: 500;
  }

  &-default6 {
    font-size: 16px;
    font-weight: 600;
  }

  &-default7 {
    font-size: 16px;
    font-weight: 400;
  }

  &-small {
    font-size: 9px;
    font-weight: 400;
  }
}

