.topBar {
  position: relative;

  &__content {
    //position: relative;
    z-index: 50;
    background-color: rgba(var(--bs-white-rgb), 1);
    border-radius: $b-radius;
    box-shadow: $box-shadow-volume;
  }

  &__title {
    font-family: Nunito, sans-serif;
    font-weight: 800;
    font-size: 22px;

    span {
      color: rgba(var(--bs-primary-rgb), 1);
    }
  }

  &__info {
    cursor: pointer;
  }

  &__user {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid rgba(var(--bs-primary-rgb), 1);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  &__link {
    color: rgba(var(--bs-primary-rgb), 1);
  }

  .is-active {
    color: rgba(129, 108, 193, 0.70);
  }

  &__dropdown {
    z-index: 10;
    right: 0;
  }

  &__burger {
    position: relative;
    width: 30px;
    height: 20px;
    display: none;

    span, &:before, &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 4px;
      background: rgba(var(--bs-primary-rgb), 1);
      border-radius: $b-radius;
      transition: all .3s;
    }

    span {
      top: 8px;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }

    &--active {
      span {
        display: none;
      }

      &:before {
        top: 8px;
        transform: rotate(45deg);
      }

      &:after {
        bottom: 8px;
        transform: rotate(-45deg);
      }
    }
  }
}

@media (max-width: 767px) {
  .topBar {
    position: inherit;
    &__burger {
      display: block;
    }

    &__nav {
      position: absolute;
      left: 0;
      right: 0;
      transform: translateY(-100%);
      &--active {
        transform: translateY(0);
        top: 0;
        bottom: 0;
        z-index: 50;
        background: rgba(var(--bs-secondary-rgb), 0.6);
        width: 100%;
      }
    }

    &__content {
      align-items: flex-start;
      justify-content: space-between;
    }

    &__menu {
      background-color: rgba(var(--bs-white-rgb), 1);
      margin: 0 -12px;
      padding: 1rem 2rem;
      border-bottom-left-radius: $b-radius-more;
      border-bottom-right-radius: $b-radius-more;
      align-items: flex-end;
      transform: translateY(-100%);
      transition: transform .4s;

      &--show {
        transform: translateY(0);
        min-height: fit-content;
        min-height: 30vh;
        justify-content: center;
      }
    }

    &__link {
      width: 100%;
    }
  }
}